# ── INSTÂNCIA BANCO (deploy/database/.env) ─────────────────
MYSQL_ROOT_PASSWORD=senha_root_forte_aqui
MYSQL_PASSWORD=senha_agroplace_forte_aqui

# ── INSTÂNCIA API (deploy/api/.env) ────────────────────────
DB_HOST=10.0.1.100          # IP privado da EC2 de banco
DB_PASS=senha_agroplace_forte_aqui
JWT_SECRET=string_aleatoria_minimo_32_chars
FRONTEND_URL=http://meudominio.com.br

# ── INSTÂNCIA FRONTEND (deploy/frontend/.env) ───────────────
API_HOST=10.0.1.101          # IP privado da EC2 de backend
